[Unit]
Description=InvertirOnline database backup and restore
After=multi-user.target

[Service]
User=pi
Type=simple
WorkingDirectory=/home/pi/Documents/develop/invertironline/
ExecStart=/home/pi/Documents/develop/invertironline/venv/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target
