annotated-types
anyio
blinker
certifi
charset-normalizer
click
colorama
deprecation
exceptiongroup
Flask
gotrue
gunicorn
h11
httpcore
httpx
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
packaging
postgrest
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
realtime
requests
schedule
six
sniffio
storage3
StrEnum
supabase
supafunc
typing_extensions
urllib3
websockets
Werkzeug
zipp